.athena-user-list-item-info {
    font-size: 1em;
    padding: 0.3em;
}

.user-list-item-avatar {
    float: left;
    height: 2em;
    width: 2em;
}
.athena-checkin-status {
    width: 1em;
    height: 1em;
}

.athena-activity-checkin-detail-button {
    float: right;
}

.athena-user-input {
    width: 20em;
    margin: 0.5em;
    display: inline;
}

.athena-user-profile-label {
    display: inline;
    margin: 0.5em
    /*width: 40em;*/
    /*background-color: cornsilk;*/
}

.athena-inline-avatar {
    width: 1.5em;
    height: 1.5em;
}

.athena-user-info-preview-label {
    min-width: 10em;
}

.athena-activity-close-button, .athena-administer-delete-button, .athena-participator-delete-button, .athena-activity-info-button {
    float: right;
}

.athena-admin-control, .athena-super-admin-control, .athena-participator-control {
    display: none;
}

#athena-activity-group-close-button, #athena-statistics-report-download-btn, #athena-request-list-modal-btn {
    float: right;
    margin: 0 0.5em;
}

.graph-title {
    width: 100%;
    margin: 0 auto;
}

.athena-me-register-div {
    float: right;
}

#athena-request-list-div {
    margin-top: 3em;
}