.athena-user-list-item-info {
    font-size: 1em;
    padding: 0.3em;
}

.user-list-item-avatar {
    float: left;
    height: 2em;
    width: 2em;
}
.athena-checkin-status {
    width: 1em;
    height: 1em;
}

.athena-activity-checkin-detail-button {
    float: right;
}