
/******************************************************************************/
#main-jumbotron {
    background: url("../img/index/classroom_blured.jpg") no-repeat;
    background-size: cover;
    height: 520px;
    margin: 0;
}

#main-jumbotron-inner {
}

#main-jumbotron-slogan * {
    color: white;
}

#main-jumbotron-signup {
    padding: 3em;
    margin: auto 0;
}

#main-jumbotron-signup input {
    margin: 1em 0 0 0;
    padding: 1.5em;
}

#btn-signup {
    padding: 1em 0.5em;
    margin: 1em auto;
}

/*****************************************************************/
.slogan-text {
    font-weight: bold;
    font-size: 1.2em;
}