/*通用设置*/
* {
    font-family: "Microsoft YaHei", "Hiragino Sans GB", "文泉驿微米黑", "WenQuanYi Micro Hei", "sans-serif";
}
/*为了让顶部的导航栏不和其他元素重叠，需要给body设置足够大的padding*/
body {
    padding: 0;
}
/*设置导航栏的高度*/
.navbar {
    padding: 1em 0;
}
/*设置导航栏上Logo的大小*/
.navbar-brand {
    padding: 0;
}
.navbar-brand > img {
    height: 100%;
    width: auto;
}
/*设置导航栏上元素的分配*/
.navbar-nav {
    padding-left: 0.5em;
    padding-right: 1.5em;
    font-size: 1.2em;
}
.navbar-btn {
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em 1.5em;
}

#top-nav-inner, #main-jumbotron-inner {
    max-width: 1086px;
    margin-left: auto;
    margin-right: auto;
}

/******************************************************************************/
#main-jumbotron {
    background: url("../img/index/classroom_blured.jpg") no-repeat;
    background-size: cover;
    height: 520px;
    margin: 0;
}

#main-jumbotron-inner {
    margin-top: auto;
}

#main-jumbotron-slogan * {
    font-weight: bold;
    color: white;
}

#main-jumbotron-signup {
}

#main-jumbotron-signup input {
    margin: 2em 0;
    padding: 1.3em;
}
