body {
    display: none;
}
#main-container {
    max-width: 1086px;
}

.slim-center {
    margin: 0 auto;
    max-width: 25em;
}

.form-login-inner {
    padding: 1.5em;
    margin: 2em 0;
}

#btn-login {
    border: 1px solid;
}

.well-login {
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: grey;
    background: #f8f8f8;
}
