.athena-terminal-id-label {
    min-width: 10em;
}

.athena-terminal-username-label {
    min-width: 10em;
}

.athena-terminal-location-input {
    width: 40em;
}

.center-inner-control {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.athena-new-terminal-location-input {
    display: inline;
    width: 20em;
}

.athena-new-terminal-name-input {
    width: 10em;
    display: inline;
}

.athena-new-terminal-password-input {
    width: 20em;
    display: inline;
}

#athena-terminal-config-entry, #athena-activity-group-config-entry {
    margin-top: 0.5em;
}

.athena-activity-group-delete-button {
    float: right;
}
