.athena-setting-heading-label {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.5;
    color: #666;
}
.text-comment {
    padding: 0.5em;
    font-size: 0.8em;
    color: #666;
}

#athena-avatar-img {
    width: 6em;
    height: 6em;
    float: left;
}

#athena-avatar-img-upload {
    margin: auto 6em;
    padding: 0.5em 2em;
}
#athena-avatar-upload-btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: auto;
}

#athena-avatar-input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}

#athena-username-input {
    width: 40em;
}

#athena-realname-input {
    width: 40em;
}
#athena-school-input {
    width: 40em;
}
#athena-department-input {
    width: 40em;
}
#athena-gender-input {
    width: 10em;
}
