#main-container {
    max-width: 1086px;
}

.slim-form {
    max-width: 25em;
    margin-left: auto;
}

.form-signup-inner {
    padding: 1.5em;
    margin: 2em 0;
}
#btn-signup {
    border: 1px solid;
}

#right-slogan {
    margin: 3em 0;
    background-color: #fefefe;
}

.right-slogan-inner {
    width: 100%;
    border-bottom: 0.01em solid;
}

.box-error-top {
    max-width: 25em;
    margin: 0 0 0 auto;
}
