* {
    font-family: "Microsoft YaHei", "Hiragino Sans GB", "文泉驿微米黑", "WenQuanYi Micro Hei", "sans-serif";
}
.navbar {
}

/*设置导航栏上Logo的大小*/
.navbar-brand {
    margin: 0.5em 1em 0 0;
    padding: 0;
    width: 2em;
    height: 2em;
}
.navbar-brand img {
    height: 100%;
    width: auto;
}
.central-inner-control {
    max-width: 72em;
    margin-left: auto;
    margin-right: auto;
}

#athena-top-nav-avatar {
    width: 2em;
    height: 2em;
}
