body {
    display: none;
}

/*******************************************************************************/

.pin-activity {
    border: 0.1em grey solid;
    padding: 1em;
    margin: 1em;
}
#img-avator {
    width: 16em;
    height: 16em;
}

#label-realname {
    font-weight: bold;
    font-size: 2em;
}

#label-username {
    font-size: 1.5em;
}

#btn-setting {
}

#contact {
    margin: 1em 0;
    border: none;
}

#athena-left-info {
    width: auto;
    max-width: 100%;
}

.athena-overview-header {
    font-size: 1.5em;
    font-weight: bold;
}

.athena-overview-recent-activity-pin {
    padding: 1em;
    margin: 0.5em 0.8em;
}

.athena-activity-pin-group-name {
    font-weight: bold;
    font-size: 1.2em;
}