body {
    display: none;
}

/*******************************************************************************/

.pin-activity {
    border: 0.1em grey solid;
    padding: 1em;
    margin: 1em;
}
#img-avator {
    width: 16em;
    height: 16em;
}

#label-realname {
    font-weight: bold;
    font-size: 2em;
}

#label-username {
    font-size: 1.5em;
}

#btn-setting {
}

#contact {
    margin: 1em 0;
    border: none;
}
