<!DOCTYPE html>
<html lang="en">
<head>
    <!--感谢 http://glyphicons.com/ 提供的图标资源-->
    <meta charset="UTF-8">
    <title>Athena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="zy-li14@hotmail.com">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/signedin-navbar.css">
    <link rel="stylesheet" href="css/activity-group.css">
</head>
<body>
<nav id='top-nav' class="navbar navbar-default" role="navigation">
    <div class="container central-inner-control" id="top-nav-inner">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img id="img-brand" alt="签到" src="img/index/dragon.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="athena-terminal-config-entry" style="display: none;">
                    <a href="root.html">配置终端</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="img/plus.png" id="athena-top-nav-new" class="athena-top-nav-icon">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="new.html#activity_group">创建活动组</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="img/face.png" id="athena-top-nav-avatar" class="athena-top-nav-icon">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="user.html">主页</a></li>
                        <li><a href="settings.html">设置</a></li>
                        <li class="divider"></li>
                        <li><a onclick="Logout ()">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid panel" id=athena-page-head">
    <div class="central-inner-control" id="athena-activity-group-close-div">
        <button class="btn btn-danger athena-super-admin-control" id="athena-activity-group-close-button"
                data-toggle="modal" data-target="#athena-activity-group-close-modal">关闭活动组
        </button>
        <a class="athena-admin-control btn btn-info" id="athena-goto-statistic-button"
           href="#athena-activity-group-statistic">统计文档</a>
    </div>
    <div class="central-inner-control" id="athena-activity-group-title">
    </div>
    <div class="container central-inner-control">
        <ul class="nav nav-tabs nav-justified" role="tablist" id="athena-activity-group-main-nav">
            <li role="presentation" id="athena-activity-group-main-nav-activity"><a href="#activities">活动</a></li>
            <li role="presentation" id="athena-activity-group-main-nav-participator"><a href="#participators">参与者</a>
            </li>
            <li role="presentation" id="athena-activity-group-main-nav-administer"><a href="#administers">管理员</a></li>
            <li role="presentation" id="athena-activity-group-main-nav-statistics"><a href="#statistics">统计</a></li>

        </ul>
    </div>
</div>

<div class="container">
    <div id="athena-info-list" class="central-inner-control">
    </div>
    <ul class="list-group central-inner-control list-unstyled" id="athena-activity-list">
    </ul>
    <ul class="list-group central-inner-control list-unstyled" id="athena-administer-list">
    </ul>
    <ul class="list-group central-inner-control list-unstyled" id="athena-participator-list">
    </ul>
    <div id="athena-activity-group-settings-div">

    </div>
    <div class="central-inner-control athena-super-admin-control" id="athena-add-new-div">
        <div class="panel panel-default central-inner-control" id="athena-user-input-div">
            <form id="athena-user-input-form" class="panel-body">
                <ul id="athena-user-input-list" class="list-group list-unstyled central-inner-control">

                </ul>
            </form>
        </div>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                data-target="#athena-new-activity-modal" id="athena-new-activity-modal-button">
            创建新活动
        </button>
        <button type="button" class="btn btn-success btn-lg" id="athena-new-participator-button">
            添加参与者
        </button>
        <button type="button" class="btn btn-success btn-lg" id="athena-new-administer-button">
            添加管理员
        </button>
    </div>
    <div class="central-inner-control" id="athena-activity-group-statistics">
        <div class="athena-admin-control" id="athena-admin-activity-group-statistics">
            <h2 class="page-header">统计</h2>
            <div id="athena-rate-activity-graph-div" class="panel panel-default">
                <canvas id="athena-rate-activity-graph" class="panel-body"></canvas>
                <label for="athena-rate-activity-graph" class="text-center graph-title panel-footer">
                    活动出勤率统计折线图
                </label>
            </div>
            <div id="athena-rate-person-graph-div" class="panel panel-default">
                <div class="panel-body">
                    <canvas id="athena-rate-person-graph" class=""></canvas>
                </div>
                <label for="athena-rate-person-graph" class="text-center graph-title panel-footer">
                    用户出勤率统计图
                </label>
                <ul class="nav nav-pills nav-justified" role="tablist" style="display: inline-block;">
                    <li role="presentation" class="active" id="athena-rate-person-graph-sort-name"><a>姓名</a></li>
                    <li role="presentation" id="athena-rate-person-graph-sort-rate"><a>出勤率</a></li>
                    <li role="presentation" id="athena-rate-person-graph-sort-shuffle"><a>随机</a></li>
                </ul>
            </div>
        </div>
        <div id="athena-normal-activity-group-statistics" class="athena-participator-control">
            <div class="panel panel-default">
                <canvas class="panel-body" id="athena-register-activity-graph"></canvas>
                <label for="athena-register-activity-graph" class="graph-title panel-footer">出勤统计图</label>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="athena-new-activity-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="athena-new-activity-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">新活动</h4>
                </div>
                <div class="modal-body">
                    <dl>
                        <dt>
                            <label>地点</label>
                        </dt>
                        <dd>
                            <input type="text" id="athena-new-activity-location-input" class="form-control " required/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>开始时间</label>
                        </dt>
                        <dd>
                            <input type="datetime-local" id="athena-new-activity-begin-time-input" class="form-control"
                                   required/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>结束时间</label>
                        </dt>
                        <dd>
                            <input type="datetime-local" id="athena-new-activity-end-time-input" class="form-control"
                                   required/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>循环模式</label>
                        </dt>
                        <dd>
                            <select class="form-control" id="athena-new-activity-repeat-method-select">
                                <option selected="true" value="0">不循环</option>
                                <option value="86400000">每日</option>
                                <option value="604800000">每周</option>
                                <option value="1209600000">每两周</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>循环次数</label>
                        </dt>
                        <dd>
                            <input class="form-control" id="athena-new-activity-repeat-times-input"
                                   pattern="[1-9][0-9]*" value="1" disabled="true" required/>
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="athena-activity-group-close-modal" tabindex="-1" role="dialog" aria-labelledby="closeModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">你确定要删除活动组么？</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" placeholder="输入活动组名称以确认"
                       id="athena-activity-group-close-confirm-input" required/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="athena-activity-group-close-confirm-button"
                        data-dismiss="modal">确认
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="tmplt-activity-group-page-head">
    <h3>
        <span class="glyphicon glyphicon-leaf"></span>
        <a href="#activity-group/<%= url %>"><%= activity_group_name %></a>
        <span class="label label-default" style="display: <%= course==true? 'inline':'none'%>;">课程</span>
    </h3>
</script>
<script type="text/template" id="tmplt-activity-list-item">
    <li class="list-group-item-info container panel panel-default central-inner-control"
        id="athena-activity-list-item-<%= activity_id %>">
        <div class="panel-body">
            <button type="button"
                    class="btn btn-danger athena-activity-close-button athena-super-admin-control">
                关闭
            </button>
            <button type="button"
                    class="btn btn-warning athena-activity-info-button athena-admin-control athena-super-admin-control"
                    data-toggle="collapse" data-target="#athena-register-checklist-<%= activity_id %>">
                详细信息
            </button>
            <div class="row">
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <label>时间：<%= begin_time %></label>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-time"></span>
                    持续时长：<%= spense_time %>
                </div>
            </div>
            <!--<button type="button" class="btn btn-default athena-activity-checkin-detail-button">详细信息</button>-->
            <div class="row">
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-home"></span>
                    地点：<%= location %>
                </div>
            </div>
            <div class="row athena-register-checklist panel panel-info athena-admin-control athena-super-admin-control collapse in"
                 id="athena-register-checklist-<%= activity_id %>">
                <div class="panel-body athena-activity-checkin-list">
                </div>
            </div>
        </div>
    </li>
</script>
<script type="text/template" id="tmplt-user-input">
    <li class="">
        <input type="text" class="athena-user-input form-control " value="<%= username %>"/>
        <div class="alert alert-danger alert-dismissible" role="alert" style="display:<%= error? 'inline': 'none' %>;">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <strong><%= errorMsg %></strong>
        </div>
        <div class="panel panel-success athena-user-profile-label" style="display:<%= foundUser? 'inline':'none' %>;">
            <label>
                <img src="<%= icon_image %>" class="athena-inline-avatar"/>
            </label>
            <label class="athena-user-info-preview-label">
                <span class="glyphicon glyphicon-user"></span><%= real_name %>
            </label>
            <label class="athena-user-info-preview-label">
                <span class="glyphicon glyphicon-star"></span><%= school %>
            </label>
            <label class="athena-user-info-preview-label">
                <span class="glyphicon glyphicon-th-large"></span><%= department %>
            </label>
        </div>
        <button type="button" class="btn btn-info athena-user-push-input-entry"
                style="display:<%= showAdd? 'inline':'none' %>;">更多用户
        </button>
        <button type="button" class="btn btn-info athena-user-pop-input-entry"
                style="display:<%= showSub? 'inline':'none' %>;">减少用户
        </button>
    </li>
</script>
<script type="text/template" id="tmplt-administer-list-item">
    <li class="list-group-item-info container panel panel-default central-inner-control">
        <div class="panel-body">
            <button type="button" class="btn btn-danger athena-administer-delete-button athena-admin-control">删除
            </button>
            <div class="row">
                <img class="user-list-item-avatar" src="<%= image? image: 'img/face.png' %>"/>
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <label class="athena-user-list-item-info">
                        用户名：<%= user %>
                    </label>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-time"></span>
                    <label class="athena-user-list-item-info">
                        真实姓名：<%= real_name %>
                    </label>
                </div>
            </div>
        </div>
    </li>
</script>
<script type="text/template" id="tmplt-participator-list-item">
    <li class="list-group-item-info container panel panel-default central-inner-control">
        <div class="panel-body">
            <button type="button" class="btn btn-danger athena-participator-delete-button athena-admin-control">删除
            </button>
            <div class="row">
                <img class="user-list-item-avatar" src="<%= image? image: 'img/face.png' %>"/>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <label class="athena-user-list-item-info">
                        用户名：<%= user %>
                    </label>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-time"></span>
                    <label class="athena-user-list-item-info">
                        真实姓名：<%= real_name %>
                    </label>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-time"></span>
                    <label class="athena-user-list-item-info">
                        出勤率：<span class="athena-rate-span">100</span>%
                    </label>
                </div>
            </div>
        </div>
    </li>
</script>
<script type="text/template" id="tmplt-activity-user-checkin-item">
    <div class="col-md-3">
        <img src="img/<%= check? 'check' : 'error' %>.png" class="athena-checkin-status"/>
        <img src="<%= icon_image? icon_image:'img/face.png' %>" class="athena-inline-avatar"/>
        <%= real_name %>
    </div>
</script>
<script type="text/template" id="tmplt-box-info">
    <div class="alert alert-<%= type %> alert-dismissible box-error-top" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <%= text %>
    </div>
</script>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/workspace.js"></script>
<script src="js/js-cookie.js"></script>
<script src="js/profileByToken.js"></script>
<script src="js/fetchProfileAndSetTopNav.js"></script>
<script src="js/chrono.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/activity-group.js"></script>
</body>
</html>