<!DOCTYPE html>
<html lang="en">
<head>
    <!--感谢 http://glyphicons.com/ 提供的图标资源-->
    <meta charset="UTF-8">
    <title>Athena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="zy-li14@hotmail.com">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/settings.css">
    <link rel="stylesheet" href="css/cropper.min.css">
    <link rel="stylesheet" href="css/signedin-navbar.css">
</head>
<body>
<nav id='top-nav' class="navbar navbar-default" role="navigation">
    <div class="container central-inner-control" id="top-nav-inner">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="user.html">
                <img id="img-brand" alt="签到" src="img/index/dragon.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="athena-terminal-config-entry" style="display: none;">
                    <a href="root.html">配置终端</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="img/plus.png" id="athena-top-nav-new" class="athena-top-nav-icon">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="new.html#activity_group">创建活动组</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="img/face.png" id="athena-top-nav-avatar" class="athena-top-nav-icon">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="user.html">主页</a></li>
                        <li><a href="#">设置</a></li>
                        <li class="divider"></li>
                        <li><a onclick="Logout ()">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<div class="container central-inner-control">
    <div class="row">
        <div class="col-md-3" id="side-navigator">
            <div class="panel panel-default" id="athena-personal-settings">
                <div class="panel-heading">
                    <h3 class="panel-title">个人设置</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked" role="tablist" id="athena-side-nav-list">
                        <li role="presentation" id="athena-profile-nav-item"><a href="#profile">个人简介</a></li>
                        <li role="presentation" id="athena-security-nav-item"><a href="#security">安全</a></li>
                        <li role="presentation" id="athena-email-nav-item"><a href="#email">电子邮件</a></li>
                        <li role="presentation" id="athena-face-nav-item"><a href="#face">人脸管理</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="settings">
            <div id="athena-info-list">
            </div>
            <div id="athena-profile-setting" class="panel panel-default">
            </div>
            <div id="athena-security-setting" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">密码</h3>
                </div>
                <form id="athena-password-form">
                    <div class="panel-body">
                        <dl>
                            <dt>
                                <label class="athena-setting-heading-label">旧密码</label>
                            </dt>
                            <dd>
                                <input class="form-control" id="athena-old-password-input" type="password" required/>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="athena-setting-heading-label">新密码</label>
                            </dt>
                            <dd>
                                <input class="form-control" id="athena-new-password-input" type="password" required/>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="athena-setting-heading-label">确认新密码</label>
                            </dt>
                            <dd>
                                <input class="form-control" id="athena-confirm-password-input" type="password"
                                       required/>
                            </dd>
                        </dl>
                        <dl>
                            <button type="submit" class="btn btn-success" id="athena-password-submit-btn">修改密码
                            </button>
                        </dl>
                    </div>
                </form>
            </div>
            <div id="athena-email-setting" class="panel panel-default">
            </div>
            <div id="athena-face-setting" class="panel panel-default">
                <ul class="list-group list-unstyled panel-body" id="athena-face-list">
                </ul>
                <div id="athena-face-upload" class="">
                    <a id="athena-face-upload-btn" class="btn btn-primary">
                        上传人脸
                        <input id="athena-face-input" type="file" accept="image/*"/>
                    </a>
                    <a id="athena-face-take-btn" class="btn btn-warning">
                        现在拍摄
                        <input id="athena-face-take-input" type="file" accept="image/*" capture="camera"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="athena-face-cropper-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">截取选用区域</h4>
            </div>
            <div class="modal-body">
                <img id="athena-face-cropper-img"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="athena-face-cropper-submit-btn">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/template" id="tmplt-face-item">
    <li class="list-group-item">
        ID:<label class="athena-face-id"><%= face_ID %></label>
        <img src="<%= face_image %>" class="athena-face-img"/>
        <button class="btn btn-danger athena-face-delete-button">删除</button>
    </li>
</script>
<script type="text/template" id="tmplt-box-info">
    <div class="alert alert-<%= type %> alert-dismissible box-error-top" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <%= text %>
    </div>
</script>
<script type="text/template" id="tmplt-profile-setting">
    <div class="panel-heading">
        <h3 class="panel-title">公开信息</h3>
    </div>
    <form id="athena-public-profile-form" enctype="multipart/form-data">
        <div class="panel-body">
            <dl id="athena-avata-setting">
                <dt>
                    <label class="athena-setting-heading-label">头像</label>
                </dt>
                <dd>
                    <img id="athena-avatar-img" src="<%= image? image: 'img/face.png' %>">
                    <div id="athena-avatar-img-upload">
                        <a id="athena-avatar-upload-btn" class="btn btn-primary">
                            上传头像
                            <input id="athena-avatar-input" type="file" accept="image/*"/>
                        </a>
                        <p class="text-comment">选择你的头像</p>
                    </div>
                </dd>
            </dl>
            <dl id="athena-realname-setting">
                <dt>
                    <label class="athena-setting-heading-label">真实姓名</label>
                </dt>
                <dd>
                    <input class="form-control" id="athena-realname-input" type="text" value="<%= realname %>" required>
                </dd>
            </dl>
            <dl id="athena-school-setting">
                <dt>
                    <label class="athena-setting-heading-label">学校</label>
                </dt>
                <dd>
                    <input class="form-control" id="athena-school-input" type="text" value="<%= school %>">
                </dd>
            </dl>
            <dl id="athena-department-setting">
                <dt>
                    <label class="athena-setting-heading-label">院系</label>
                </dt>
                <dd>
                    <input class="form-control" id="athena-department-input" type="text" value="<%= department %>"
                    >
                </dd>
            </dl>
            <dl id="athena-gender-setting">
                <dt>
                    <label class="athena-setting-heading-label">性别</label>
                </dt>
                <dd>
                    <select id="athena-gender-input" class="form-control">
                        <option value="0"
                        <%= gender == 0? 'selected': '' %> > 保密</option>
                        <option value="1"
                        <%= gender == 1? 'selected': '' %> >男</option>
                        <option value="2"
                        <%= gender == 2? 'selected': '' %> >女</option>
                    </select>
                </dd>
            </dl>
            <dl>
                <button type="submit" class="btn btn-success" id="athena-public-profile-submit-btn">提交个人信息
                </button>
            </dl>
        </div>
    </form>
</script>
<script type="text/template" id="tmplt-email-setting">
    <div class="panel-heading">
        <h3 class="panel-title">电子邮件</h3>
    </div>
    <form id="athena-email-form">
        <div class="panel-body">
            <dl>
                <dt>
                    <label class="athena-setting-heading-label">电子邮件</label>
                </dt>
                <dd>
                    <input class="form-control" id="athena-email-input" type="email" value="<%= email %>" required/>

                </dd>
            </dl>
            <dl class="alert alert-<%= email_authorization ? 'success': 'danger' %>">
                <img id="athena-email-validate-icon" src="img/<%= email_authorization ? 'check': 'error' %>.png"/>
                <label ><%= email_authorization ? '你的邮箱已通过验证': '你的邮箱还未验证，请查看你的邮箱' %></label>
                <a class="btn btn-info" style="display: <%= email_authorization?'none':'inline'%>"
                   id="athena-resent-verify-emial-button">重新发送激活邮件</a>
            </dl>
            <dl>
                <dt>
                    <label class="athena-setting-heading-label">输入密码以验证身份</label>
                </dt>
                <dd>
                    <input class="form-control" id="athena-email-validate-password-input" type="password" required/>
                </dd>
            </dl>
            <dl>
                <button type="submit" class="btn btn-success" id="athena-email-submit-btn">修改电子邮件
                </button>
            </dl>
        </div>
    </form>
</script>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/workspace.js"></script>
<script src="js/js-cookie.js"></script>
<script src="js/profileByToken.js"></script>
<script src="js/fetchProfileAndSetTopNav.js"></script>
<script src="js/cropper.min.js"></script>
<script src="js/settings.js"></script>
</body>
</html>