<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--移动设备缩放控制-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The index page of the check-in system.">
    <meta name="author" content="zy-li14@hotmail.com">
    <title>Athena管理</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/terminal.css">
</head>
<body>
<div class="page-header center-inner-control">
    <h1>终端设置</h1>
</div>
<div class="list-group center-inner-control list-unstyled" id="athena-terminal-list-div">
</div>
<div class="center-inner-control" id="athena-new-terminal-input">

</div>


<script type="text/template" id="tmplt-terminal-item">
    <li class="list-group-item">
        <form class="athena-terminal-item-form form-inline">
            <span class="glyphicon-star glyphicon"></span>
            <label class="athena-terminal-id-label">#<%= pk %></label>
            <input type="text" class="form-control athena-terminal-location-input" value="<%= location %>"
                   placeholder="终端设备的位置" required/>
            <button type="submit" class="btn btn-info athena-terminal-update-button">更新</button>
            <button type="button" class="btn btn-danger athena-terminal-delete-button">删除</button>
        </form>
    </li>
</script>
<script type="text/template" id="tmplt-new-terminal-input">
    <li class="">
        <input type="text" class="athena-user-input form-control " value="<%= username %>"/>
        <div class="alert alert-danger alert-dismissible" role="alert" style="display:<%= error? 'inline': 'none' %>;">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <strong><%= errorMsg %></strong>
        </div>
        <div class="panel panel-success athena-user-profile-label" style="display:<%= foundUser? 'inline':'none' %>;">
            <label>
                <img src="<%= icon_image %>" class="athena-inline-avatar"/>
            </label>
            <label class="athena-user-info-preview-label">
                <span class="glyphicon glyphicon-user"></span><%= real_name %>
            </label>
            <label class="athena-user-info-preview-label">
                <span class="glyphicon glyphicon-star"></span><%= school %>
            </label>
            <label class="athena-user-info-preview-label">
                <span class="glyphicon glyphicon-th-large"></span><%= department %>
            </label>
        </div>
        <button type="button" class="btn btn-info athena-user-push-input-entry"
                style="display:<%= showAdd? 'inline':'none' %>;">更多用户
        </button>
        <button type="button" class="btn btn-info athena-user-pop-input-entry"
                style="display:<%= showSub? 'inline':'none' %>;">减少用户
        </button>
    </li>
</script>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/workspace.js"></script>
<script src="js/js-cookie.js"></script>
<script src="js/profileByToken.js"></script>
<script src="js/terminal.js"></script>
</body>
</html>