<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!--感谢 http://glyphicons.com/ 提供的图标资源-->
    <meta charset="UTF-8">
    <title>Athena</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/user.css">
    <link rel="stylesheet" href="css/signedin-navbar.css">
</head>
<body>
<nav id='top-nav' class="navbar navbar-default" role="navigation">
    <div class="container central-inner-control" id="top-nav-inner">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img id="img-brand" alt="签到" src="img/index/dragon.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="profile" class="container central-inner-control">
    <div class="row clearfix">
        <div class="col-md-3">
            <div id="namecard">
            </div>
            <button id="btn-setting" class="btn btn-default btn-block" onclick="window.location='settings.html'">设置</button>
            <ul id="contact" class="list-unstyled list-group">
                <li id='contact-email' class="list-group-item">
                    <span class="glyphicon glyphicon-envelope"></span>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div id="recent-activities">
                <h2>最近的活动</h2>
                <div class="row" id="recent-activities-row">
                    <div class="col-md-4 pin-activity">
                        <p>计算机组成原理</p>
                        <p>星期五</p>
                        <p>出勤率:100%</p>
                    </div>
                    <div class="col-md-4 pin-activity">
                        <p>计算机组成原理</p>
                        <p>星期五</p>
                        <p>历史出勤率:100%</p>
                    </div>
                    <div class="col-md-4 pin-activity">
                        <p>计算机组成原理</p>
                        <p>星期五</p>
                        <p>出勤率:100%</p>
                    </div>
                    <div class="col-md-4 pin-activity">
                        <p>计算机组成原理</p>
                        <p>星期五</p>
                        <p>出勤率:100%</p>
                    </div>
                    <div class="col-md-4 pin-activity">
                        <p>计算机组成原理</p>
                        <p>星期五</p>
                        <p>出勤率:100%</p>
                    </div>
                    <div class="col-md-4 pin-activity">
                        <p>计算机组成原理</p>
                        <p>星期五</p>
                        <p>出勤率:100%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--用来显示左边的用户名片-->
<script type="text/template" id="tmplt-namecard">
    <img id="img-avator" src="<%= image? image: 'img/face.png' %>"/>
    <span id="label-realname"><p><%= realname %></p></span>
    <span id="label-username"><p><%= username %></p></span>
</script>
<script type="text/template" id="tmlpt-email">
    <a href="mailto:<%= email %>"><%= email %></a>
</script>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/workspace.js"></script>
<script src="js/js-cookie.js"></script>
<script src="js/user.js"></script>


</body>
</html>