<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!--感谢 http://glyphicons.com/ 提供的图标资源-->
    <meta charset="UTF-8">
    <title>Athena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="zy-li14@hotmail.com">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/user.css">
    <link rel="stylesheet" href="css/signedin-navbar.css">
</head>
<body>
<nav id='top-nav' class="navbar navbar-default" role="navigation">
    <div class="container central-inner-control" id="top-nav-inner">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img id="img-brand" alt="签到" src="img/index/dragon.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="athena-terminal-config-entry" style="display: none;">
                    <a href="root.html">配置终端</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="img/plus.png" id="athena-top-nav-new" class="athena-top-nav-icon">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="new.html#activity_group">创建活动组</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="img/face.png" id="athena-top-nav-avatar" class="athena-top-nav-icon">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">主页</a></li>
                        <li><a href="settings.html">设置</a></li>
                        <li class="divider"></li>
                        <li><a onclick="Logout ()">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

<div id="profile" class="container central-inner-control">
    <div class="row clearfix">
        <div class="col-md-3" id="athena-left-info">
            <div id="namecard">
            </div>
            <button id="btn-setting" class="btn btn-default btn-block" onclick="window.location='settings.html'">设置
            </button>
            <ul id="contact" class="list-unstyled list-group">
                <li id='contact-email' class="list-group-item">
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs nav-justified" role="tablist" id="athena-main-nav">
                <li role="presentation" id="athena-main-nav-overview"><a href="#overview">概览</a></li>
                <li role="presentation" id="athena-main-nav-admin"><a href="#admin-activity-group">管理</a></li>
                <li role="presentation" id="athena-main-nav-normal"><a href="#normal-activity-group">参与</a></li>
            </ul>
            <div id="athena-overview-div">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#athena-overview-recent-activity-list">最近活动</a></li>
                    <li role="presentation"><a href="#athena-activity-total-graph">签到统计</a></li>
                    <!--<li role="presentation"><a href="#athena-activity-group-statistics-graph">活动组统计</a></li>-->
                </ul>
                <dl>
                    <dt>
                    <p class="page-header athena-overview-header">最近的活动</p>
                    </dt>
                    <dd>
                        <div class="row" id="athena-overview-recent-activity-list">
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                    <p class="page-header athena-overview-header">签到统计</p>
                    </dt>
                    <dd>
                        <canvas id="athena-activity-total-graph"></canvas>
                    </dd>
                </dl>
            </div>
            <div id="athena-admin-activity-group-div">
                <div class="list-group" id="athene-admin-activity-group-list">
                </div>
                <dl id="athena-activity-group-statistics">
                    <dt>
                    <p class="page-header athena-overview-header">活动组统计</p>
                    </dt>
                    <dd>
                        <canvas id="athena-activity-group-statistics-graph"></canvas>
                    </dd>
                </dl>
            </div>
            <div class="list-group" id="athene-normal-activity-group-list">
            </div>
        </div>
    </div>
</div>
</div>
<!--用来显示左边的用户名片-->
<script type="text/template" id="tmplt-activity-pin">
    <div class="panel panel-default col-md-5 athena-overview-recent-activity-pin">
        <label class="athena-activity-pin-group-name"><a
                href="activity-group.html#activities/<%= activity_group_url %>"><%= activity_group_name %></a></label>
        <label class="athena-activity-pin-location"><%= location %></label>
        <br/>
        <label class="athena-activity-pin-start-time">开始：<%= start_time %></label>
        <br/>
        <label class="athena-activity-pin-end-time">时长：<%= spense_time %></label>
        <br/>
        <label class="alert-<%= type %>"><%= msg %></label>
    </div>
</script>
<script type="text/template" id="tmplt-namecard">
    <img id="img-avator" src="<%= image? image: 'img/face.png' %>"/>
    <span id="label-realname"><p><%= realname %></p></span>
    <span id="label-username"><p><%= username %></p></span>
</script>
<script type="text/template" id="tmlpt-email">
    <span class="glyphicon glyphicon-envelope"></span>
    <a href="mailto:<%= email %>"><%= email %></a>
</script>
<script type="text/template" id="tmplt-activity-group">
    <div class="list-group-item athena-activity-groupd-list-item">
        <a target="_blank" href="activity-group.html#activities/<%= url %>"><%= activity_group_name %></a>
        <span class="label label-default" style="display: <%= is_classes==true? 'inline':'none' %>;">课程</span>
    </div>
</script>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/workspace.js"></script>
<script src="js/js-cookie.js"></script>
<script src="js/profileByToken.js"></script>
<script src="js/fetchProfileAndSetTopNav.js"></script>
<script src="js/chrono.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/user.js"></script>


</body>
</html>